<meta charset="UTF-8">

<input/>
<button> Compare com meu segredo </button>

<script>

  function sorteia () {

    return Math.round(Math.random() * 10);
  }
  
  function sorteiaNumeros(quantidade) {

    var segredos = [];

    var numero = 1;

    while(numero <= quantidade) {
    
    var numeroAleatorio = sorteia();
    var achou = false;

    for(var posição = 0; posição < segredos.length; posição++) {
    
    if(segredos[posição] == numeroAleatorio) {
      achou = true;
      break;

    }
    }

    if(achou ==false)
   
   segredos.push(numeroAleatorio);
    
    numero++;

    }

    return segredos;
  }
  var segredos = sorteiaNumeros(3);

  var input = document.querySelector("input");
  input.focus();

  function verifica(){

    var achou = false;

    for(var posição = 0; posição < segredos.length; posição++) {

      if(input.value == segredos[posição]) {

      alert("Você ACERTOU!");
      achou = true;
      break;
      }
    }
  }

  

</script>