<meta charset="UTF-8">

<script>
   
     function pulaLinha() {

         document.write("<br>");
         document.write("<br>");
 }

     function mostra(frase) {
   
         document.write(frase);
         pulaLinha();
}
      function calculaImc(){

        var imc = peso / (altura * altura);
      }

    var pesoFlávio = 73;
    var alturaFlávio = 1.71;
    var imcFlávio = pesoFlávio/ (alturaFlávio * alturaFlávio);
    mostra("O imc do Flávio é" + imcFlávio);
    
    var pesoAmigo = 68;
    var alturaAmigo = 1.72;
    var imcAmigo = pesoAmigo / (alturaAmigo * alturaAmigo);
    mostra("O imc do meu amigo é" + imcAmigo);

    //document.write(" ou pode fazer de outra forma");

    //function calculaImc(altura, peso){ 
    //var imc = peso / (altura*altura);
    //mostra("O imc calculado é" + imc);
    //}
    //calculaImc(1.71, 73);
    //calculaImc(1.72, 68);
    
    //document.write ("somar os imc's");
   
    //function calcalaImc(altura1, peso1, altura2, peso2) {
    
    //var imc1 = peso1 / (altura1 * altura1);
    //var imc2 = peso2/ (altura2 * altura2);
    
    //var imcTotal = imc1 + imc2;
    //mostra("A soma dos imc's é" + imcTotal);
    //}
    
    //calculaImc(1.71, 73, 1.72, 68);
    
    //document.write"descarta essa hipósete acima, pois dá NAN ( Not a number)no google"
    
    //Essa abaixo é a correta

    //function calculaImc(altura, peso){
   
    //var imc = peso / (altura*altura);
  
   // return imc;
   // }
    //var imcFlávio = calculaImc(1.71, 73)+1;
    //var imcAmigo = calculaImc(1.72,68);

  //mostra(imcFlávio);
  //mostra(imcAmigo);

  //Se fizer com função Return 

  //document.write("A soma dos imc's é +totalImc");
  //colocar na function
  //return peso / (altura+altura);


  //var imcFlávio = calculaImc(1.71, 73);
  //var imcAmigo = calculaImc(1.72,68)
  //var totalImc = calculaImc(1.71, 73) + calculaImc(1.72, 68); ou deixar apenas:
  
  //var totalImc = calculaImc(1.71, 73) + calculaImc(1.72, 68);)

  //aparecerá no Google dessa forma:
  //A soma dos imc's é 47.95034399142732



    </script>