<meta charset="UTF-8">

<script>
   
function pulaLinha() {

document.write("<br>");
document.write("<br>");
}

function mostra(frase) {
   
document.write(frase);
pulaLinha();

}
//3
var totalFamiliares = parseInt(prompt("Quantidade de familiares?"));

var numero = 1;

var totalIdades = 0;

while(numero <= totalFamiliares) {
var idade = parseInt(prompt("Informe idade do familiar"));
totalIdades = totalIdades + idade; 
numero++;
}

var mediaDasIdades = totalIdades/totalFamiliares;
mostra("A media das idades dos familiares é" + mediaDasIdades);
mostra ("FIM");

</script>  