<meta charset="UTF-8">

<h1>Meu primeiro teste!</h1>
<br>
Seria isso um programa? Descubra visitando o Alura <a href="http://www.alura.com.br">aqui</a>!

 <script>

     alert("Isso sim é um programa");
    
</script>