<meta charset=UTF-8>


<script>
  
   document.write("A idade do Flávio é");
   document.write("18" + "<br>");
  
</script>

<script>

  document.write("Flávio nasceu em" + (2016 - 39) + "<br>");
  document.write("Joaquim nasceu em" + (2016-20) + "<br>");
  document.write("Barney nasceu em" + "<br>");
</script> 

<script>
document.write("<br>");
document.write("Ou");
document.write("<br>");
document.write("<br>");
 
</script>

<script>

  document.write("Flávio nasceu em " + (2016-39));
  document.write("<br>");
  document.write("Joaquim nasceu em" + (2016-20));
  document.write("<br>");
  document.write("Barney nasceu em" + (2016-40));
  document.write("<br>");
</script>
 <br />
<br />
<br />
<script>
  document.write("Flávio tem " + (2016 - 1977) + " anos");
  document.write("<br>");
  document.write("Joaquim tem " + (2016 - 1996) + " anos");
  document.write("<br>");
  document.write("Barney tem " + (2016 - 1976) + " anos");
  document.write("<br>");
</script>
<br />
<br />
<br />
<script>



 var ano=2016; 

 document.write("Posso usar também a var para nome, ano, etc <br><br>");

 document.write("Flávio tem " + (ano - 1977) + " anos <br><br>");
 document.write("<br>");
 document.write("Joaquim tem " + (ano - 1996) + " anos"); 
 document.write("<br>"); 


 var nome="Flávio";

 document.write("<br> A idade " + nome+ "é + idadeFlávio");
 document.write("<br>");
 document.write("<br>");   
           
 var puloLinha= "<br><br><br>";

 document.write("Flávio tem " + (ano - 1977) + " anos");
 document.write(puloLinha); 
 document.write("Joaquim tem " + (ano - 1996) + " anos");
 document.write(puloLinha); 

 document.write(" Escrever minha própria função <br><br><br>"); 
 
 
 function pulaLinha() {

 document.write("<br>");
 document.write("<br>");
 }

 function mostra(frase) {
   
 document.write(frase);
 pulaLinha();
}
mostra("Olá pessoal")

 document.write("Flávio tem " + (ano - 1977) + " anos");

 pulaLinha();

 document.write("Joaquim tem " + (ano - 1996) + " anos");

 pulaLinha(); ("<br><br>");

 document.write("Posso usar duas barras para ignorar um código  comentado")

  //document.write("Flávio tem " + (ano - 1977) + " anos");

 pulaLinha();

  //document.write("Joaquim tem " + (ano - 1996) + " anos");

 pulaLinha(); 

 mostra("Flávio tem " + (ano - 1977) + " anos");

 mostra("Joaquim tem " + (ano - 1996) + " anos");


</script>
 